.Selector {
    display: flex;
    flex-direction: column;
    color: var(--text);
}

.choice {
    border-radius: 0.3rem;
    background-color: var(--primary);
    padding: 1rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--accent);
    border-color: var(--accent);
    transition: background-color 0.2s, border-color 0.2s;
}

.active {
    border-left-width: 15px;
}

.choice:hover {
    background-color: var(--accent);
    border-color: var(--primary);
}